<div class="text-center">


    <h1 class="display-4">Soy Tomas Fuentes </h1>

    <h2>Soy un desarrollador especializado en tecnología .Net.</h2>
    <img id="foto"
         src="~/imagenes/foto.jpeg" alt="Foto de tomy" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="net logo">
</div>


<div class="row justify-content-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Bienvenido a mi portafolio</h1>
        <p>
            Desarrollo hace 3 años, actualmente me encuentro trabajando en una empresa como QA y Desarrollador de .Net .
            Utilizo tecnologías como C# .Net, ASP.NET Core MVC, Razor, SQL Server, Selenium.
        </p>
    </div>

</div>